*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    counter-reset: #1d232c;
}
.navbar-links a:hover{
    text-decoration: underline;
    
}
.navbar-menu-toggle{
    display: none;
}
.side-navbar{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    display: none;
    transition: 2s;
    
}
.side-navbar-link{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration:none;
    color: white;

}
.side-navbar-links a:hover{
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.head-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
    cursor: pointer;
}
.service{
    padding: 20px;

}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}
.product-section{
    margin-top: 20px;

}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
   outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}



#contact {
  background: #1d232c;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}



#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/*Media Query*/
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
   .header-image{
     display: none;
   }
   .service-container-1{
    display: none;
   }
   .service-container-2{
    flex-direction: column;
   }
}